<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Document</title>
    </head>

    <body>
        <div id="app">
            <div>
                <span>
                    <input type="text" v-model="fname" />
                    <button @click="add">添加</button>
                    <button @click="del">删除</button>
                    <button @click="change">替换</button>
                </span>
            </div>
            <ul>
                <li :key="index" v-for="(item,index) in list">{{item}}</li>
            </ul>
        </div>
        <script type="text/javascript" src="js/vue.js"></script>
        <script type="text/javascript">
            /*
            Vue数组操作
            1、变异方法：会影响数组的原始数据的变化。影响原始数组, 触发视图更新 push pop unshift shift splice sort reverse
            2、替换数组：不会影响原始的数组数据，而是形成一个新的数组，形成新数组。不会丢失 DOM 并重新渲染整个列表
            filter concat slice 方法
        */
            var vm = new Vue({
                el: '#app',
                data: {
                    fname: '',
                    list: ['apple', 'orange', 'banana'],
                },
                methods: {
                    add: function () {
                        // 变异方法: 直接在原数组上进行增删改查
                        this.list.push(this.fname)
                    },
                    del: function () {
                        this.list.pop()
                    },
                    change: function () {
                        // 替换数组, 页面的更新需要不断的使用新数组赋值给原始数组
                        this.list = this.list.slice(0, 2)
                    },
                },
            })
        </script>
    </body>
</html>
